# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vscode
.vscode

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# locks
package-lock.json
yarn.lock

# misc
.DS_Store
*.pem
documentation/feature-multipleTypes.md
documentation/recipe-data-structure.md
documentation/framer-motion.md
documentation/submit-form.md
documentation/working-api-submit.md
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env.dev
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
