# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# locks
package-lock.json
yarn.lock

# misc
.DS_Store
*.pem
recipe-page.md
searchbar.md
api-handler.md
handlesubmit.txt

## dynamic routing
/pages/recipes
/pages/recipes/[id]

# data
foods.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env.dev
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
