.egg {
  position: relative;
  width: 100px;
  height: 100px;
  background: rgb(252, 252, 252);
  border: 5px solid black;
  border-radius: 50% 50% 0 50%;
  transform: translateY(-100%);
  animation: fall 1s ease-in;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.egg.cracked {
  animation: crack 2s ease-out;
}

@keyframes crack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
    top: 50px;
    left: 50px;
    background: transparent;
    border-radius: 0;
  }
  100% {
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
  }
}

.yolk {
  position: absolute;
  background: rgb(253, 253, 137);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  top: 25px;
  left: 25px;
}