@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  /** 
    text-wrap is shipping in Chromium 113 and will help with typographic widows
    and orphaned words, balancing titles relative to their containers
  **/
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  * {
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    html,
    body {
      overflow-x: hidden;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-tap-highlight-color: transparent;
}

.hero {
  max-width: 100%;
  flex-direction: column !important;
}

.sleepy-title, .results-title {
  font-family: 'Poppins-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.type-span {
  font-family: 'Poppins-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.recipe-name {
  font-family: 'Dosis-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.error-border {
  border-color: #dc2626;
}

.hamburger, .close-icon {
  z-index: 14;
  transform: translateX(1.5rem);
}

.sidebar {
  transition: transform 0.4s ease-in-out;
  z-index: 12;
}

.sidebar.open{
  transform: translateX(0);
}
.sidebar.close{
  transform: translateX(100%);
}

.directions {
  scrollbar-width: thin;
}

.directions::-webkit-scrollbar-track {
  scrollbar-width: thin;
}

@media (max-width: 768px) {
  .sidebar.open {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #e2e8f0;
  } 
  .hamburger {
    transform: translateX(0.5rem);
  }
  .toggle-theme {
    margin-right: -1.3rem;
  }
}

.fade-in {
  opacity: 0;
  transform: translate3d(0, 10%, 0);
  animation-name: fade-in;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
